body{background-color: #9bb0f4bc;}
.navbar-custom {
  background-color: #829efbbc;
  color: #f0f8ff;
}
.nav-link a{
  color: #f0f8ff;
}

.navbar-brand{
  color: #e9eaea;
}

.form-label{
  font-size: 18px;
 }
h5{
  padding-top: 1em;
}
.formwrapper{
  margin: 0 auto;
  padding: 20px 110px;
  background-color: #cae3fe;
}
.btnsubmit{
  background-color:#6f90fabc ;
  font-weight: bold;
  color: #fff;
}
